{% load staticfiles %}

<html>
	<head>
	    <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

    	{% block head_title %} {% endblock head_title %}

    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    	<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
    	
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.css">
    	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.js"></script>
    	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/locale/bootstrap-table-zh-CN.min.js"></script>
		
		{% block head_js_files %} {% endblock head_js_files %}
		<link rel="stylesheet" href="{% static 'portfolio/main.css' %}">
		{% block head_css_files %} {% endblock head_css_files %}

		<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300' rel='stylesheet' type='text/css'>

		{% block scripts %} {% endblock scripts %}
	</head>


	<body>
		<div id="navbar_menu">
			<nav class="navbar navbar-default navbar-custom">
				<div class="container-fluid">
	   				<div class="navbar-header">
		      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
			        		<span class="icon-bar"></span>
			        		<span class="icon-bar"></span>
			        		<span class="icon-bar"></span>
		      			</button>
		      			<a class="navbar-brand" href="/">$CROOGIE$</a>
	    			</div>
	    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    				<ul class="nav navbar-nav navbar-right">
	    					<li><a href="{% url 'accounts:logout' %}">Logout</a></li>
	    				</ul>
	    			</div>
	    		</div>
	    	</nav>
		</div>

		{% block tabs_content %} {% endblock tabs_content %}

		{% block main_content %} {% endblock main_content %}

		<footer class="footer">
			<div class="container">
				<p class="standard_footer">© 2015 Capitalists</p>
			</div>
		</footer>

	</body>
</html>