<script id="scenarios-template" type="x-tmpl-mustache">
				
	<div class="col-sm-4">
		<h3 class="column-heading-scenarios">Scenarios</h3>
		<div id="toolbar">
    		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-new-scenario-name">
				<i class="glyphicon glyphicon-plus"></i> Add
			</button> 
			<button id="view-scenario" class="btn btn-danger" type="button">
				<i class="glyphicon glyphicon-eye-open"></i> View
    		</button>
			<button id="edit-scenario" class="btn btn-danger">
				<i class="glyphicon glyphicon-pencil"></i> Edit
    		</button>
    		<button id="remove-scenario" class="btn btn-danger">
				<i class="glyphicon glyphicon-trash"></i> Delete
    		</button>
    	</div>

		<div class="modal modal-wide fade" id="modal-new-scenario-name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">CREATE NEW SCENARIO</h4>
					</div>
					
					<form role="form" id="form-new-scenario">
						<div class="modal-body">
							
							<div class="row">
								<div class="col-sm-4">
									<div class="form-group">
										<label for="name">Name:</label>
										<input id="scenario-name" type="text" class="form-control" name='name' placeholder="Enter scenario name" required>
		    						</div>
		    					</div>
	    					</div>

	    					<div class="row">
	    						<div class="col-sm-3">
	    							<h4 class="modal-heading-scenarios">Economic Assumptions</h4>
									<select class="form-control" id="select-economic-assumption" name="economic_assumption">
											<option value=""> - Select Economic Assumption - </option>
									{% verbatim %}
										{{ #assumptions }}
												<option value={{ id }}>{{ name }}</option>
										{{ /assumptions }}
									{% endverbatim %}
									</select>
									<br>
									<div id="new-scenario-assumptions-load"></div>
								</div>

								<div class="col-sm-4">
									<h4 class="modal-heading-scenarios">All Risk Profiles</h4>
									<table id="scenario-modal-all-risk-profiles" data-unique-id="id" data-toggle="table" data-click-to-select="true">
										<thead>
			    							<tr>
									    		<th data-field="state" data-checkbox="true"></th>
									    		<th data-field="name">Name</th>
									    	</tr>
									    </thead>
									</table>
								</div>

								<div class="col-sm-1">
									<br><br><br><br>
									<button id="modal-add-risk-profile" class="btn btn-group-xs" type="button" >></button>
									<br><br>
									<button id="modal-remove-risk-profile" class="btn btn-group-xs" type="button" ><</button>

								</div>

								<div class="col-sm-4">
									<h4 class="modal-heading-scenarios">Added Risk Profiles</h4>
									<table id="scenario-modal-selected-risk-profiles" data-unique-id="id" data-toggle="table" data-click-to-select="true">
										<thead>
											<tr>
									    		<th data-field="state" data-checkbox="true"></th>
									    		<th data-field="name">Name</th>
									    	</tr>
									    </thead>
									</table>
								</div>

							</div>
	    				</div>
	    				
	    				<div class="modal-footer">
	    					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        			<button type="submit" class="btn btn-primary">Save</button>
		        		</div>
    				</form>
	    		</div>
	  		</div>	  	
	    </div>

		<table id="user-scenario" data-single-select="true" data-unique-id="id" data-toggle="table">
		    <thead>
		    	<tr>
		    		<th data-field="state" data-checkbox="true"></th>
		    		<th data-field="name">Name</th>
		    	</tr>
		    </thead>
		</table>
	</div>
	
	<div class="col-sm-4">
		<h3 class="column-heading-scenarios">Economic Assumptions</h3>
		<table id="scenario-assumptions-table" class='table'>
			{% verbatim %}
				<thead>
					{{ name }}
				</thead>
				<tbody>
			    	<tr>
			    		<th>GDP Growth</th>
			    		<td>{{ gdp_growth }}</td>
			    	</tr>
			    	<tr>
			    		<th>Unemployment Rate</th>
			    		<td>{{ unemployment_rate }}</td>
			    	</tr>
			    	<tr>
			    		<th>National Home Price Index Growth</th>
			    		<td>{{ national_home_price_index_growth }}</td>
			    	</tr>
			    	<tr>
			    		<th>High Yield Spread</th>
			    		<td>{{ high_yield_spread }}</td>
			    	</tr>
			    	<tr>
			    		<th>Constant Default Rate (CDR)</th>
			    		<td>{{ constant_default_rate }}</td>
			    	</tr>
			    	<tr>
			    		<th>Constante Prepayment Rate (CPR)</th>
			    		<td>{{ constant_prepayment_rate }}</td>
			    	</tr>
			    	<tr>
			    		<th>Recovery</th>
			    		<td>{{ recovery }}</td>
			    	</tr>
			    	<tr>
			    		<th>Lag</th>
			    		<td>{{ lag }}</td>
			    	</tr>
			    </tbody>
			{% endverbatim %}
		</table>
	</div>

	<div class="col-sm-4">
		<h3 class="column-heading-scenarios">Risk Profiles</h3>
		<table id="scenario-risk-profiles-table" data-unique-id="id" data-toggle="table">
		    <thead>
		    	<tr>
		    		<th data-field="name">Profile Name</th>
		    	</tr>
		    </thead>
		</table>
	</div>	
</script>


<script id="assumptions-form-template" type="x-tmpl-mustache">
	<table id="scenario-assumptions-form-table" class='table'>
		{% verbatim %}
			<tbody>
		    	<tr>
		    		<th>GDP Growth</th>
		    		<td>{{ gdp_growth }}</td>
		    	</tr>
		    	<tr>
		    		<th>Unemployment Rate</th>
		    		<td>{{ unemployment_rate }}</td>
		    	</tr>
		    	<tr>
		    		<th>National Home Price Index Growth</th>
		    		<td>{{ national_home_price_index_growth }}</td>
		    	</tr>
		    	<tr>
		    		<th>High Yield Spread</th>
		    		<td>{{ high_yield_spread }}</td>
		    	</tr>
		    	<tr>
		    		<th>Constant Default Rate (CDR)</th>
		    		<td>{{ constant_default_rate }}</td>
		    	</tr>
		    	<tr>
		    		<th>Constante Prepayment Rate (CPR)</th>
		    		<td>{{ constant_prepayment_rate }}</td>
		    	</tr>
		    	<tr>
		    		<th>Recovery</th>
		    		<td>{{ recovery }}</td>
		    	</tr>
		    	<tr>
		    		<th>Lag</th>
		    		<td>{{ lag }}</td>
		    	</tr>
		    </tbody>
		{% endverbatim %}
	</table>
</script>

