
<script id="riskProfile-template" type="x-tmpl-mustache">
	<div class="row ">				
		<div class="col-sm-4">
			<h4 class="table-heading-risks">Saved Risk Profiles</h4>
			<div id="toolbar">
        		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-profile-name">
					<i class="glyphicon glyphicon-plus"></i> Add
				</button> 
				<button id="view-risk" class="btn btn-danger" type="button">
					<i class="glyphicon glyphicon-eye-open"></i> View
        		</button>
				<button id="edit-risk" class="btn btn-danger">
					<i class="glyphicon glyphicon-pencil"></i> Edit
        		</button>
        		<button id="remove-risk" class="btn btn-danger">
					<i class="glyphicon glyphicon-trash"></i> Delete
        		</button>
        	</div>

			<div class="modal fade" id="modal-profile-name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  			<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Crete new risk profile</h4>
						</div>
						<form role="form" id="new-risk-profile-name">
							<div class="modal-body">
								<div class="form-group">
									<label for="name">Name:</label>
									<input type="text" class="form-control" name='name' placeholder="Enter risk profile name" required>
	    						</div>
		    				</div>
		    				<div class="modal-footer">
		    					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        			<button type="submit" class="btn btn-primary">Continue</button>
			        		</div>
	    				</form>
	    			</div>
	  			</div>	  	
	        </div>

			<table id="user-risk-profiles" data-click-to-select="true" data-unique-id="id" data-toggle="table">
			    <thead>
			    	<tr>
			    		<th data-field="state" data-checkbox="true"></th>
			    		<th data-field="name">Name</th>
			    	</tr>
			    </thead>
			</table>
		</div>
		
		<div class="col-sm-8">
			<h3 class="table-heading-risks">Profile Details</h3>
			<table id="user-risk-details" data-unique-id="id" data-toggle="table" data-detail-view="true" data-detail-formatter="detailFormatter">
			    <thead>
			    	<tr>
			    		<th data-field="attribute">Factor</th>
			    		<th data-field="changing_assumption">Assumption</th>
			    		<th data-field="percentage_change">Percentage Change</th>
			    	</tr>
			    </thead>
			</table>
		</div>
	</div>
</script>


<script id="riskProfile-creation-template" type="x-tmpl-mustache">
	<div class="col-sm-8">
		{% verbatim %}
			<h3 class="risk-profile-name-id" id={{ id }}>{{ name }} </h3>
		{% endverbatim %}
		
		<div id="toolbar">
			<h4>Risk Factors</h4>
			<button id="view-conditional" class="btn btn-danger" type="button" data-toggle="modal" data-target="#new-factor-modal">
				<i class="glyphicon glyphicon-plus"></i> Add
	        </button>
			<button id="view-conditional" class="btn btn-danger" type="button">
				<i class="glyphicon glyphicon-eye-open"></i> View
	        </button>
			<button id="edit-conditional" class="btn btn-danger">
				<i class="glyphicon glyphicon-pencil"></i> Edit
	        </button>
	        <button id="remove-conditional" class="btn btn-danger">
				<i class="glyphicon glyphicon-trash"></i> Delete
	        </button>
	    </div>
		
		<div class="modal fade new-risk-profile" id="new-factor-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  			<div class="modal-dialog" role="document">
				<div class="modal-content">
					
					<form role="form" id="new-risk-factor">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Add new risk attribute</h4>
						
							<div class="form-group">
								<label for="attribute">Attribute:</label>
								<select class="form-control" id="select-risk-factor-attribute" name="attribute">
									<option value=""> - Select - </option>
									{% for k,v in choices %}
										<option value="{{ k }}">{{v}}</option>
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="modal-body">
							<div id="equal-conditionals-loader"></div>
							<div id="range-conditionals-loader"></div>
						</div>
						
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save</button>
						</div>	
    				</form>
    			
    			</div>		
    		</div>
  		</div>	  	
       
		<table id="risk-factors-edit-table" data-click-to-select="true" data-unique-id="id" data-toggle="table">
			<thead>
		    	<tr>
				   	<th data-field="state" data-checkbox="true"></th>
			 		<th data-field="attribute">Attribute</th>
			 		<th data-field="changing_assumption">Changing Assumption</th>
			 		<th data-field="percentage_change">Percentage Change</th>
		    	</tr>		
			</thead>
		</table>
	</div>


	<div class="col-sm-4">

		<h3>Conditionals</h3>
		<table id="all-conditionals-table" data-unique-id="id" data-toggle="table">
			<thead>
		    	<tr>
			 		<th data-field="conditional">Conditional</th>
			 		<th data-field="value">Value</th>
		    	</tr>		
			</thead>
		</table>
	</div>

</script>



<script id="equal-choices-conditionals" type="x-tmpl-mustache">
	<div class="form-group">						
		<label for="changing_assumption">Changing assumption:</label>
		<select class="form-control" name="changing_assumption">
			<option value="cdr">CDR</option>
			<option value="cpr">CPR</option>
			<option value="recovery">Recovery</option>
			<option value="lag">LAG</option>
		</select>
	</div>
	
	<div class="form-group">
		<label for="percentage_change">Percentage change:</label>
		<input type="number" step="any" class="form-control" name='percentage_change' placeholder="Enter percentage" required>
	</div>
	
	{% verbatim %}
		<div class="form-group">
			<label for="conditional">Conditional:</label>
			<select class="form-control" id="select-conditional" name="conditional">
				<option value=""> - Select - </option>
					{{#.}}
						<option value='{{.}}'>{{.}}</option>
					{{/.}}
			</select>
		</div>
	{% endverbatim %}
</script>


<script id="range-conditionals" type="x-tmpl-mustache">
	<div class="col-md-6">	
		<div class="form-group">						
			<label for="changing_assumption">Changing assumption:</label>
			<select class="form-control" name="changing_assumption">
				<option value="cdr">CDR</option>
				<option value="cpr">CPR</option>
				<option value="recovery">Recovery</option>
				<option value="lag">LAG</option>
			</select>
		</div>
	
		<div class="form-group">
			<label for="percentage_change">Percentage change:</label>
			<input type="number" step="any" class="form-control" name='percentage_change' placeholder="Enter percentage" required>
		</div>
	</div>

	<div class="col-md-6">	
		<div class="form-group">
			<label for="conditional">Conditional:</label>
			<select class="form-control" id="select-range" name="conditional">
				<option value=""> - Select - </option>
				<option value='>'>Greater than</option>
				<option value='>='>Greater Than or Equal To</option>
				<option value='<'>Lesser Than</option>
				<option value='<='>Lesser Than or Equal To</option>
				<option value='=='>Equal to</option>			
			</select>
		</div>

		<div class="form-group">
			<label for="value">Value:</label>
			<input type="text" class="form-control" name='value' placeholder="Enter value" required>
		</div>

		<div class="form-group">
			<label for="attribute">Conditional:</label>
			<select class="form-control" id="select-conditional" name="conditional2">
				<option value=""> - Select - </option>
				<option value='>'>Greater than</option>
				<option value='>='>Greater Than or Equal To</option>
				<option value='<'>Lesser Than</option>
				<option value='<='>Lesser Than or Equal To</option>
				<option value='=='>Equal to</option>			
			</select>
		</div>

		<div class="form-group">
			<label for="value">Value:</label>
			<input type="text" class="form-control" name='value2' placeholder="Enter value">
		</div>		
	</div>

</script>


<script id="empty-conditionals" type="x-tmpl-mustache">

</script>



