{% load bootstrap %}

<script id="assumptions-template" type="x-tmpl-mustache">	
	<div class="row add_search">
        <div class="col-md-3" id="row-sub-header">
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
				Create New
			</button>
		</div> 

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Crete new economic assumption</h4>
					</div>
					<div class="modal-body">
						<form role="form" id="form-new-assumption">
							{% csrf_token %}
							{{ form_assumptions.non_field_errors }}
							{{ form_assumptions.name | bootstrap }}
							{{ form_assumptions.gdp_growth|bootstrap }}
							{{ form_assumptions.unemployment_rate | bootstrap }}
							{{ form_assumptions.national_home_price_index_growth | bootstrap }}
							{{ form_assumptions.high_yield_spread | bootstrap }}
							{{ form_assumptions.constant_default_rate | bootstrap }}
							{{ form_assumptions.constant_prepayment_rate | bootstrap }}	
							{{ form_assumptions.recovery | bootstrap }}
							{{ form_assumptions.lag | bootstrap }}
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        				<button type="submit" class="btn btn-primary">Save</button>
	        			</form>
    				</div>
    			</div>
  			</div>	  	
        </div>
        
        <div class="col-md-3"></div>
        <div class="col-md-6"></div>
	</div>

	<div id="assumptions-table-load"></div>

</script>




<script id="assumptions-table-template" type="x-tmpl-mustache">
	<div class="row ">				
		<div class="col-sm-4">
			<h3 class="table-heading-risks">Saved Economic Assumptions</h3>
			<div id="toolbar">
				<button id="view-risk" class="btn btn-danger" type="button">
					<i class="glyphicon glyphicon-eye-open"></i> View
        		</button>
				<button id="edit-risk" class="btn btn-danger">
					<i class="glyphicon glyphicon-pencil"></i> Edit
        		</button>
        		<button id="remove-risk" class="btn btn-danger">
					<i class="glyphicon glyphicon-trash"></i> Delete
        		</button>
    		</div>
			<table id="user-assumptions-table" data-single-select="true" data-unique-id="id" data-toggle="table">
			    <thead>
			    	<tr>
			    		<th data-field="state" data-checkbox="true"></th>
			    		<th data-field="name">Name</th>
			    	</tr>
			    </thead>
			</table>
		</div>
		
		
		<div class="col-sm-8">
			<form>
				<div class='form-group'>
					<label for="name">Name</label>
					<input type="number" class = "form-control" id="assumption-name">
				</div>
				<div class='form-group'>
					<label for="national_home_price_index_growth">National home price index growth</label>
					<input type="number" class = "form-control" id="national_home_price_index_growth">
				</div>
				<div class='form-group'>
					<label for="high_yield_spread">High Yield Spread</label>
					<input type="number" class = "form-control" id="high_yield_spread">
				</div>
				<div class='form-group'>
					<label for="gdp_growth">GDP Growth</label>
					<input type="number" class = "form-control" id="gdp_growth">
				</div>                      
				<div class='form-group'>
					<label for="unemployment_rate">Unemployment Rate</label>
					<input type="number" class = "form-control" id="unemployment_rate">
				</div>
				<div class='form-group'>
					<label for="constant_default_rate">Constant Default Rate</label>
					<input type="number" class = "form-control" id="constant_default_rate">
				</div>
				<div class='form-group'>
					<label for="constant_prepayment_rate">Constant Prepayment Rate</label>
					<input type="number" class = "form-control" id="constant_prepayment_rate">
				</div>
				<div class='form-group'>
					<label for="recovery">Recovery</label>
					<input type="number" class = "form-control" id="recovery">
				</div>
				<div class='form-group'>
					<label for="lag">Lag</label>
					<input type="number" class = "form-control" id="lag">
				</div>
			</form>
		</div>
	</div>

</script>