{% extends "accounts/base_auth.html" %}
{% load staticfiles %}


{% block head_title %} 
	<title>Scroogies SIGNUP</title>
{% endblock head_title %}

{% block head_js_files %}
	<link rel="stylesheet" href="{% static 'accounts/auth.js' %}"> 
{% endblock head_js_files %}

{% block head_css_files %}
	<link rel="stylesheet" href="{% static 'accounts/auth.css' %}"> 
{% endblock head_css_files %}




{% block navbar %}
	<div id="navbar_menu">
		<nav class="navbar navbar-default navbar-custom">
			<div class="container-fluid">
   				<div class="navbar-header">
	      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
		        		<span class="icon-bar"></span>
		        		<span class="icon-bar"></span>
		        		<span class="icon-bar"></span>
	      			</button>
	      			<a class="navbar-brand" href="/">$CROOGIE$</a>
    			</div>
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    				<ul class="nav navbar-nav navbar-right">
    					<li><a href="#">Login</a></li>
    					<li><a href="#">Create an account</a></li>
    				</ul>
    			</div>
    		</div>
    	</nav>
	</div>

{% endblock navbar %}


{% block main_content %}
    <div class="container">
		<form class="form-signin">
			<h2 class="form-signin-heading">Create an account</h2>
			<label for="inputEmail" class="sr-only">Email address</label>
			<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			<label for="inputPassword" class="sr-only">Confirm Password</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Create my account</button>
		</form>
    </div> 

{% endblock main_content %}