body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #0c2d4e;
}


/*======================================== NAVBAR =====================================*/
.navbar-default {
  background-color: #fff;
  background-image: none;
  background-repeat: no-repeat;
  box-shadow: none;
  border-radius: 0;
  color: #0c2d4e;
  border-color: #fff;
 }

/*Menu items font*/
.navbar .nav > li > a {
  color: #0c2d4e;
}

/*Brand font*/
.navbar-default .navbar-brand {
  font-family: 'Shadows Into Light Two', 'Source Sans Pro', sans-serif;
  font-size: 35px;
  color: #0c2d4e;
}


/*======================================== FOOTER =====================================*/
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #fff;
}

.container {
    width: auto;
    padding: 0px 15px;
}

.container .standard_footer {
  margin: 20px 0px;
  text-align: center;
}